.header{
    position: relative;
    background-color: #007691d2;
    /* opacity: .15; */
    border-bottom-right-radius: 8rem;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-position: center center;
    border-bottom-right-radius: 8rem;
    background-size: cover;
    height: 100%;
    z-index: -1;
}

::selection{
    background-color: #ff9635;
    color: white;
}

