.navigation-bar{
    display: flex;
    padding: 1rem 6rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar-navigation{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-self: center;
    align-items: center;
}

.navbar-navigation li{
    display: grid;
    place-items: center;
}

.navbar-link{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    height: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.1rem;
}

.navbar-link-active{
    /* background-color: #ff9635; */
    /* color: white; */
    color: #ff9635;
}

.btn-login{
    background-color: #ff9635;
    font-weight: 600;
    font-size: 1.03rem;
    text-transform: uppercase;
    padding: 0.8rem 30px;
    border: none;
    border-radius: 3rem;
    color: white;
}
