.course-card{
    width: 21rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: -1px 1px 13px 1px #0000006c;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
    border-radius: 12px;
    background-color: white;
}

.course-card-img{
    width: 100%;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 12px;
    height: 30vh;
}

.course-card__content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.course-card__content h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.course-card__content p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.course-card__button{
    margin-top: 10px;
    padding: 0.8rem;
    background-color: #428bca;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    margin-top: auto;
}

.progress-bar{
    width: 100%;
    height: 10px;
    background-color: #e2e7ed;
    border-radius: 1rem;
}
