.contact {
    padding: 4rem 0;
}

.contact h1 {
    font-size: 2.4375rem;
    font-weight: 600;
    margin: 1rem 0;
    color: #ff6b6b;
}

.contact h1 span {
    color: blue;
}

.contact__content {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
}

.contact__content-address {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    width: 40%;
    align-self: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact__content-address-field {
    display: flex;
    width: 80%;
    gap: 7px;
}

.contact__content-address-field img {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    padding: 5px;
    border: 1px solid black;
}

.contact__content-address-field .field-head {
    font-weight: 600;
    display: inline-block;
    word-break: normal;
}

.contact__content-address-field p {
    display: inline-block;
    margin-left: calc("50px + 0.5rem");
    position: relative;
    break-after: column;
    word-break: break-all;
    white-space: normal;
}

.contact__content-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    flex: 1;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0 64px 100px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

.contact__content-form h2 {
    font-size: 2.4rem;
    font-weight: 600;
}

.contact__content-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__content-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.contact__content-form-field input {
    width: 100%;
    outline: none;
    border: none;
    padding: 6px 12px;
    border-radius: 2px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.contact__content-form-field input:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.contact__content-form-field select {
    padding: 6px 12px;
    outline: none;
    border: none;
    height: 40px;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;

}

.contact__content-form button {
    background-color: #ff9635;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 0.8rem 30px;
    text-align: center;
    align-self: center;
    transition: all 0.1s ease-in;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.03rem;
    margin-top: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
}

.contact__content-form button:hover {
    background-color: #077b93;
}

@media screen and (max-width: 800px) {
    .contact__content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .contact h1 {
        text-align: center;
    }
    .contact__content-address {
        width: auto;
        align-self: center;
    }
    .contact__content-form {
        width: auto;
    }
    .contact__content-form form {
        padding: 0 2rem;
        align-items: center;
    }

    .contact__content-form h2 {
        text-align: center;
    }
}
