.contact {
    padding: 8rem 0;
}

.contact h1 {
    font-size: 2.4375rem;
    font-weight: 600;
    margin: 1rem 0;
    color: #ff6b6b;
}

.contact h1 span {
    color: blue;
}

.contact__content {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    border-radius: 10px;
}

.contact__content-address {
    width: 70%;
    margin: 4rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    align-self: flex-start;
    align-items: center;
    background-color: #4e4e4e;
    color: white;
    box-shadow: 0 32px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact__content--address--inner {
    display: flex;
    width: 100%;
}

.contact__content-address-field {
    display: flex;
    width: 100%;
    gap: 7px;
}

.contact__content-address h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.contact__content-address-field {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.contact__content-address-field img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    padding: 5px;
    border: 1px solid black;
    background-color: #ffffff;
}

.contact__content-address-field .field-head {
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
    word-break: normal;
    margin-bottom: 10px;
}

.contact__content-address-field p {
    display: inline-block;
    position: relative;
    break-after: column;
    word-break: break-all;
    white-space: normal;
}

/* ---------- Form ---------- */

.contact__content-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    flex: 1;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 32px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
}

.contact__content-form h2 {
    font-size: 2.4rem;
    font-weight: 600;
}

.contact__content-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form__inner {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.form__inner--col {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 1.4rem;
}

.contact__content-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.contact__content-form-field input {
    width: 100%;
    outline: none;
    border: none;
    padding: 6px 12px;
    height: 40px;
    font-size: 1.05rem;
    border-radius: 5px;
    background-color: #f3f3f3;
    font-family: "Poppins", sans-serif;
}

.contact__content-form-field input:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.contact__content-form-field select {
    padding: 6px 12px;
    outline: none;
    border: none;
    height: 40px;
    font-size: 1.05rem;
    border-radius: 5px;
    background-color: #f3f3f3;

    font-family: "Poppins", sans-serif;
}

.contact__content-form button {
    background-color: #ff9635;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 0.8rem 30px;
    text-align: center;
    align-self: center;
    transition: all 0.1s ease-in;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.03rem;
    margin-top: 1rem;
    border-radius: 100px;
    outline: none;
    border: none;
    text-transform: uppercase;
}

.contact__content-form button:hover {
    background-color: #077b93;
}

@media screen and (max-width: 800px) {
    .contact__content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .contact h1 {
        text-align: center;
    }
    .contact__content-address {
        align-self: center;
    }

    .contact__content-form {
        padding: 2rem;
        align-self: center;
    }

    .contact__content-form form {
        align-items: center;
    }

    .contact__content-form h2 {
        text-align: center;
        font-size: 1.9rem;
    }

    .form__inner {
        flex-direction: column;
    }

    .contact__content--address--inner {
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;
    }

    .contact__content-address-field {
        justify-content: flex-start;
    }

    .contact__content-address h3 {
        font-size: 1.9rem;
    }
}
