/* -------- Footer Section -------- */

.home__footer {
    background-color: white;
}

.home__footer--top {
    padding: 30px 8rem;
    display: flex;
}

.home__footer--top--social {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;
    padding-right: 100px;
}

.home__footer--top--social img {
    width: 30%;
}

.home__footer--top--social--icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    transition: all 0.25s;
}

.home__footer--top--courses {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 25%;
}

.home__footer--top--courses h2 {
    font-size: 1.4rem;
}

.home__footer--top--courses ul {
    list-style: none;
    line-height: 25px;
}

.home__footer--top--contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 25%;
    padding-left: 80px;
}

.home__footer--top--contact h2 {
    font-size: 1.4rem;
}

.home__footer--top--contact > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hr {
    height: 1px;
    width: 100%;
    background-color: #e4e4e4;
}

.home__footer--bottom > div {
    display: flex;
    padding: 30px 8rem;
    justify-content: space-between;
}
